Al Newkirk <anewkirk@ana.io> <github@alnewkirk.com>
Al Newkirk <anewkirk@ana.io> <root@alnewkirk.com>
Al Newkirk <anewkirk@ana.io> <root@megatron>
Al Newkirk <anewkirk@ana.io> <root@megatron.(none)>
Al Newkirk <anewkirk@ana.io> <we@ana.im>
Andrew Beverley <a.beverley@ctrlo.com>
Eric Johnson <eric.git@iijo.org>
Stefan Hornburg <racke@linuxia.de>

